body {
  background-color: lightblue;
}

#snapBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #ddd;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  transition: transform 0.2s;
}

#video {
  width: 50px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
