body {
  background-color: lightblue;
}

h1 {
  color: darkblue;
}

#snapBtn {
  padding: 100px 100px;
  border-radius: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#video {
  width: 1000px;
  height: auto;
}
